html, body {
  margin: 0;
  padding: 0;
  Font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-weight: 500;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url("https://i.pinimg.com/564x/85/d7/37/85d737ebc14d917364377a43a4b30f0d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
 
}
a{
  color: inherit;

}

header {
  Font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

nav button {
  height: 1.2rem;
  width: 1.2rem;
  background-image: url(/icons/refresh-button.png);
  background-size: cover;
  background-color: transparent;
  border: none;
}

#aboutmep {
  font-size: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contentBox {

  position: relative; /* Ensure that the spans are positioned relative to the contentBox */
  width: 80vw;
  max-width: 1200px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 80px auto 0;
  color: white;
  transition: box-shadow 0.3s ease, border 0.3s ease, transform 2s ease; /* Add transform to transition */
  border: 5px solid transparent;
  border-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6));
  border-image-slice: 1;
}

.contentBox::-webkit-scrollbar {
  width: 10px;
}

.contentBox::-webkit-scrollbar-track {
  background: transparent;
}

.contentBox::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.contentBox.active {
  border: 5px solid aqua;
  border-image: none;
  transform: translateY(20px)  scale(1.05) ;
  transition-duration: 2s;
}

.item {
  display: block;
  margin: 40px;
  padding: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  color: white;
}

.item:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

.item h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.item p {
  margin: 0;
  font-size: 14px;
}

#skillsp {
  font-size: 20px;
}

/* PC-Specific Styling */
@media (min-width: 1000px) {
  body {
    background-image: url('/icons/dekstop-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  #firstBox,#thirdBox {
    width: 22vw;
    height: 70vh;
  }
  
  #secondBox{
    width: 33vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto; 
    gap: 10px; 
  }

  .item {
    margin: 13px 0px;
  }

  .item h2 {
    font-size: 1.5em;
  }

  .item img {
    width: 4rem;
    height: 4rem;
  }

  .item p {
    font-size: 16px;
  }

  nav ul {
    display: flex;
  }

  .contentBox.hidden {
    display: none;
  }
}

/* Mobile-Specific Styling */
@media (max-width: 1000px) {
  header h1 {
    font-size: 20px;
  }

  .contentBox:nth-child(2),
  .contentBox:nth-child(3) {
    display: none;
  }

  .contentBox {
    width: 80%;
    height: 73vh;
    margin: 80px auto 0;
    padding: 10px;
  }

  .item {
    margin: 30px;
    padding: 5px;
  }

  .item h2 {
    font-size: 1em;
  }

  .item img {
    width: 80px;
    height: 80px;
  }

  .item p {
    font-size: 12px;
  }
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #4caf50;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
